.h_main{
  margin: 0 auto;
  width: 80vw;
  height: 110px;
  font-size: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo{
  
}
.logo > img{
  width: 185px;
  cursor: pointer;
  padding-top: 25px;
  box-sizing: border-box;
}
.h_nav{
  width: 770px;
  height: 110px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 15px;
  box-sizing: border-box;
}
.h_nav_top{
  width: 770px;
  display: flex;
  justify-content: end;
  margin-bottom: 20px;
}
.h_nav_top_in{
  width: 300px;
  height: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  font-weight: 600;
}
.h_nav_bot{
  width: 770px;
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 24px;
  font-weight: 600j;
  margin-bottom: 30px;
}